@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Playfair+Display+SC&display=swap');

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background: rgb(213, 209, 208);
}

::-webkit-scrollbar-thumb {
   background: rgb(187, 167, 167); 
   border-radius: 0.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0dedd;
}

ul {
    list-style: none;
}

img {
    width: 90%;
    height: 340px;

    border-radius: 80px;

    padding-bottom: 40px;

    cursor: pointer;

}

h2 ::before {
   content: '';
   display: inline-block;
   width: 40px;
   height: 10px; 
   margin-right: 5px;
   background: #fff;
}

h2 {
    font-family: 'Playfair Display SC';
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(165, 17, 14);
}

h3 {
    font-family: 'Playfair Display SC';
    font-size: 22px;
    margin-bottom: 25px;
    color: rgb(165, 17, 14);
}

/*MENU */
.menu {
    max-width: 1200px;
    height: 80px;

    background-color: rgb(165, 17, 14);

    display: flex;
    align-items: center;
    
    margin: 45px 0 45px 23%;
    border-radius: 5px;
}

.menu a {
    background-color: rgb(165, 17, 14);
    font-size: 25px;
    font-family: 'Roboto Condensed';
    color: rgb(245, 217, 6);
    text-decoration: none;
    padding: 20px;

}

a:hover {
    color: rgb(13, 12, 12);
}

/* MAIN  - GRID SEÇÃO */
.grid-seção {
    max-width: 821px;
    margin: 0px auto 0px auto;

    display: grid;
    gap: 15px;
    grid-template-areas:
        "titulo-projeto titulo-projeto"
        "imagens-frutas descricao"
        "imagens-frutas descricao"
        "imagens-frutas descricao"
        "imagens-frutas descricao"
        "imagens-frutas descricao"
        "imagens-frutas descricao"
        "faq faq"
        "contato contato"
        "botao-voltar botao-voltar";
}

.titulo-projeto {
    max-width: 1200px;
    margin: 0px auto 80px 13%;

    grid-area: "titulo-projeto";
    grid-column: titulo-projeto;

    font-family: 'Playfair Display SC';
    letter-spacing: 10px;
    line-height: 82px;
    font-size: 77px;
}

.titulo-projeto span {
    font-family: 'Playfair Display SC';
    font-size: 80px;
    letter-spacing: 10px;
    line-height: 94px;
}

.imagens-frutas {
    min-width: 190px;
    height: 340px;
    overflow-y: scroll;
    
    grid-area: "imagens-frutas";

    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out 0.3s;
}

.box-descricoes {
    height: 340px;
    overflow: hidden;
}

.descricao {
    max-width: 320px;
    min-width: 190px;
    height: 345px;
    grid-area: "descricao";
    grid-row: descricao;

    overflow: hidden;

    align-items: center;
    justify-content: center;

    margin: 0px 0px 15px 0px;
}

.descricao h2::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 5px;
    background: rgb(244, 207, 11);
}

.descricao p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

/* FAQ - GRID SEÇÃO */
.faq {
    max-width: 1200px;
    grid-area: "faq";
    grid-column: faq;

    text-align: justify;
    padding: 15px;
    margin-top: 80px;
}

dt {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(244, 189, 8);
}

/* CONTATO - GRID SEÇÃO */
.contato {
    max-width: 1200px;

    padding: 25px;
    

    grid-area: "contato";
    grid-column: contato;
}

.apps a img {
    width: 48px;
    height: 82px;
}

.apps a {
    padding: 8px;
}

.apps a img:hover {
    transition: all 1s;
    transform: translateY(-5px);
}

/* SECTION - BOTAO VOLTAR*/
.botao-voltar {
    max-width: 100%;
    
    grid-area: 'botao-voltar';
    grid-column: botao-voltar;
}

.botao-voltar a img {
    max-width: 90px;
    height: 100px;
    margin-left: 90%;

    transition: ease 1.5s;
}

.botao-voltar a img:hover {
    transform:translateY(-30px);
}

/* FOOTER - FLEXBOX*/
.footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(244, 189, 8);

    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.footer p {
    font-family: 'Playfair Display SC';
    font-size: 19px;
    background-color: rgb(244, 189, 8);
    padding: 30px 0;

    border-radius: 5px;
    margin: 0px auto;

    color: rgb(165, 17, 14);
}
