@media (max-width: 821px) {
    /*MENU */
.menu {
    max-width: 100%;
    height: 100px;

    background-color: rgb(165, 17, 14);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    border-radius: 5px;
}

.titulo-projeto {
    max-width: 100%;
    margin: 50px auto 100px auto;

    grid-area: "titulo-projeto";
    grid-column: titulo-projeto;

    font-family: 'Playfair Display SC';
    letter-spacing: 10px;
    line-height: 50px;
    font-size: 45px;
}

.titulo-projeto span {
    font-family: 'Playfair Display SC';
    font-size: 49px;
    letter-spacing: 10px;
    line-height: 60px;
}

.imagens-frutas {
    min-width: 160px;
    grid-area: "imagens-frutas";

    padding: 15px;
    justify-content: center;
    align-items: center;
}

/* FOOTER - FLEXBOX*/
.footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(244, 189, 8);
}

.footer p {
    padding: 40px 0;
    border-radius: 5px;
}
}